h1 {
    color: aliceblue;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.input-login {
  font-family: "Poppins", sans-serif;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.sign-in-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.google-login {
  display: flex;
  justify-content: center;
}

.google-login-button{
    border: solid 0.5px #333;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn-login {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn-login:hover {
  background-color: #4d84e2;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .sign-in-form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
h2 {
    column-count: auto;
}
*, *:after, *:before{
    box-sizing: border-box;
}

body {
    font-family: 'Arial', Times, serif;
}

i {
    padding-right: 5px;
}

/* HEADER */
    header{
        position: relative;
        top: 0;
        border-bottom: 3px solid #0061AD;
    }
    #logo{
        height: 5rem;
        width: 10rem;
    }
    #title_header{
        float: left;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 75px
    }
    #header_logo_div{
        float: left;
    }
    #info{
        float: right;
        font-size: 20px;
        margin-top: 20px;
        padding-left:20px;
        padding-right: 20px;
    }
    #info_div{
        float: left;
        padding-right: 20px;
    }
    #info_name{
        margin-bottom: 0px;
    }
    #btn_logout{
        color: black;
        float: right;
        font-size: 16px;
    }
    #info_avatar_div{
        float: right;
    }
    #info_avatar{
        border-radius: 100%;
        width: 2rem;
        height: 2rem
    }
    #search{    
        width: 75%;
        border-radius: 30px;
        height: 33px;
        margin-top: 20px;
        font-size: 20px;
        outline: none;
        padding: 10px;
    }
    #search_contain{
        text-align: right;
        float: right;
    }
    #btn_search{
        color: black;
    }
    #img_search{
        font-size: 25px;
        margin-left: 10px;
    }
    #date{
        float: right;
        font-size: 20px;
        margin-top: 20px;
        padding-left:20px;
        padding-right: 20px;
    }
/* ----- */

/* BODY */

    /* NAVIGATION */
        #navigation_div{
            background-color: #33485c;
            color: white;
            position: fixed;
            height: 100%
        }
        #navigation_title{
            background-color: #2f4355;
            text-align: center;
            font-weight: bold;
            padding: 10px;
        }
    /* ----- */

    /* MAIN_BODY */

        /* BREADCRUMB */
            #body_div{
                position: fixed;
                height:81%;
                left:16.7%;
                overflow-y: scroll;
                background-color: #f0f2f5;
            }
            #nav_breadcrumb{
                --bs-breadcrumb-divider: '>';
            }
            #ol_breadcrumb{
                padding:25px;
                font-size: 23px;
                background-color: #0061AD;
                color: white;
                box-shadow: 0px 2px 6px grey;
            }
        /* ----- */

        /* ADMIN PAGE */
            #registerFaculty{
                width: 60%;
                box-shadow: 2px 2px 5px;
                border-radius: 5px;
                background-color: white;
            }
            .list_checkbox{
                list-style-type: none;
                border-radius: 3px;
                box-shadow: 1px 1px 2px;
                overflow-y: scroll;
                height: 200px;
            }
            #btn_registerFaculty{
                margin-bottom: 10px;
                float: right;
            }
        /* ----- */

        /* NOTIFICATION PAGE */
            #noti_search_div{
                width: 80%;
                padding: 20px;
                box-shadow: 2px 2px 5px;
                border-radius: 5px;
                background-color: white;
            }
            #select_facutly{
                margin-left: 5px;
            }
            #noti_list_div{
                width: 90%;
                margin-top: 20px;
                padding: 20px;
                box-shadow: 2px 2px 5px;
                border-radius: 5px;
                background-color: white;
            }
            .space_btn{
                justify-content: space-evenly;
                margin-top: 22px;
            }
            .noti_text{
                height: 25px;
                overflow: hidden;
            }
            #faculty_time{
                float: right;
            }
            .last_component{
                margin-bottom: 10px;
            }
        /* ----- */
            
        /* FACULTY NOTIFICATION HOME PAGE*/
            #faculty_noti_home_div{
                width: 60%;
                padding: 20px;
                box-shadow: 2px 2px 5px;
                border-radius: 5px;
                background-color: white;
            }
            #select_facutly_home_div{
                display: flex;
            }
            #select_facutly_home{
                font-size: 20px;
                margin-left: 5px;
            }
            #btn_add_noti{
                margin-bottom: 10px;
            }
            #noti_title{
                float: left;
            }
            #fix_delete_noti{
                float: right;
            }
            #btn_delete_noti{
                font-size: 20px;
                margin-left: 10px;
                color: red;
            }
        /* ----- */

        /* DETAIL NOTIFICATION  */
            #detai_noti_title{
                text-align: center;
            }
        /* ----- */

        /* ADD NOTIFICATION  */
            #cancel_post_noti_div{
                justify-content: flex-end;
                margin-top: 20px;
            }
            #post_noti_btn{
                margin-left: 10px;
            }
        /* ----- */

        /* STUDENT INFO PAGE*/
            #student_info_div{
                width: 80%;
                padding: 20px;
                box-shadow: 2px 2px 5px;
                border-radius: 5px;
                background-color: white;
            }
            #student_info_avatar_div{
                text-align: center;
            }
            #student_info_avatar{
                border-radius: 100%;
                height: 12rem;
                width: 12rem;
            }
            #btn_student_info_avatar{
                text-decoration: unset;
                color: black;
                font-weight: bold;
            }
            #btn_student_info_avatar:hover{
                color: red;
            }
        /* ----- */

        /* HOME */
            #xahoi{
                position: fixed;height:80%;
                overflow-y: scroll;
                padding-bottom: 20px;
            }
            #home_notification{
                position: fixed;
                height: 100%;
                left: 75%;
                padding-left: 20px;
                background-color: white;
            }
            #home_title_notification{
                font-size: 25px;
                font-weight: bold;
            }
            .home_notification_card{
                width: 53%;
                margin-bottom: 5px;
            }
            .home_notification_card_text{
                height: 50px;
                overflow: hidden;
            }
            .btn_home_detail_noti{
                float: left;
            }
            .home_faculty_date{
                float: right;
                font-size: 12px;
                font-style: italic
            }
            #avatar_post{
                height: 3rem;
                width: 3rem;
                border-radius: 100%;
            }
            #div_post_social{
                margin-top: 10px;
                background: white;
                box-shadow: 1px 1px 5px;
                border-radius: 5px;
                padding: 10px;
            }
            #div_modal_post{
                padding: 5px;
                cursor: pointer;
                border-radius: 20px;
                font-size: 20px;
                color: grey;
                background: #f0f2f5;
            }
            #img_post{
                height: 24rem;
                width: 100%; 
            }
            #avatar_comment{
                height: 3rem;
                width: 3rem;
                border-radius: 100%;
            }
            #div_comment_post{
                padding: 5px;
                border-radius: 20px;
                font-size: 16px;
                color: grey;
                background: #f0f2f5;
            }
            #comment_post{
                border: none;
                background: #f0f2f5;
            }

        /* ----- */

        /* MODAL POST*/
            #value_post{
                border: none;
                margin-top: 10px;
                width: 100%;
                font-size: 23px;
            }
            .btn_social{
                width: 250px;
            }
            #div_modal_post_social{
                text-align: center;
            }
            #btn_modal_post{
                width: 100%;
                margin-bottom: 10px;
            }
            #img_modal_post{
                height: 20rem;
                width: 20rem;
                margin-bottom: 10px;
            }
         /* ----- */

        /* MODAL CHANGE AVATAR */
            .w3-teal{
                color: black !important;
                background-color: white !important;
                border-radius: 5px;
            }
            #btn_close_modal{
                font-size: 20px;
                color: red;
            }
            .w3-display-topright{
                border-radius: 5px;
            }
            .w3-modal-content{
                border-radius: 5px;
                box-shadow:1px 1px 10px;
            }
            #change_avatar_img{
                border-radius: 100%;
                height: 16rem;
                width: 16rem;
            }
            #avatar_file{
                display: none;
            }
            #btn_up_avatar{
                margin-top: 10px;
            }
            #change_avatar_div{
                text-align: center;
            }
            #confirm_avatar_div{
                text-align: right;
                margin-bottom: 10px;
            }
            #btn_confirm_avatar{
                margin-left: 10px;
            }
        /* ----- */

        /* DÙNG CHUNG */
            
            .row{
                --bs-gutter-x:0px;
            }
            .container{
                padding-left: 20px;
            }
            .button{
                text-decoration: unset;
                color: white;
                font-weight: bold;
                background-color: transparent;
                cursor: pointer;
            }
            .card:hover{
                background: aliceblue;
            }
            .list-group-item{
                color: white;
                background-color: transparent;
                border: 13px solid rgba(0,0,0,.125);
            }
            .form-check{
                padding-left: 0px;
            }
            .clear{
                clear: both;
            }
        /* ----- */
    /* ----- */
/* ----- */

/* FOOTER */
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #0061AD;
        color: white;
        text-align: center;
        padding: 15px;
        z-index: 99;
    }
/* ----- */

/* RESPONSIVE */
@media only screen and (max-width: 1444px) {
    #body_div{
        height: 74%;
    }
}
@media only screen and (max-width: 1023px) {
    #title{
        font-size: 24px!important;
    }
    .col-12{
        position: unset!important;
    }
    footer{
        position: unset!important;
    }
    .container{
        margin-top: 2%!important;
    }
    #home_notification{
        display: none;
    }
    #xahoi{
        position: unset!important;
    }
    #registerFaculty{
        width: 100%!important;
        border-radius: 0px;
    }
    #btn_registerFaculty{
        margin-right: 20px;
    }
    #select_facutly{
        margin-left: 0px;
    }
    #faculty_noti_home_div{
        width: 100%;
    }
    #noti_list_div{
        width: 100%;
    }
    #post_noti_btn{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 767px) {
    #cmt{
        width: 80%!important;
    }
    #title_header{
        float: none !important;;
        margin-top: 0px !important;
    }
    #date{
        float: none;
        margin-top: 0px;
    }
    #account{
        margin-top: 0px;
    }
    #search{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    #search_contain{
        float: none;
        text-align: center;
    }
    #info{
        margin-top: 0px;
    }
}
@media only screen and (max-width: 360px) {
    #cmt{
        width: 68%!important;
    }
}
/* ----- */